<!doctype html>
<html class="no-js" lang="{% block locale %}{{ app.locale }}{% endblock %}">
<head>
  {% block head %}
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{{ app.name }}{% endblock %}</title>
  <script>document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/,'js');</script>
  {% endblock %}
</head>
<body>
  {% block body %}{% endblock %}
  {% block script %}{% endblock %}
</body>
</html>
