{% extends '@2016/base.twig' %}

{% block title %}Enlaces{% endblock %}

{% block content %}
<div class="container">
  <h1>Enlaces</h1>
  <h2>Recursos:</h2>
  <ul>
    <li><a href="http://www.gundari.net/" title="Gundari SysAdmin Services">Gundari SysAdmin Services</a></li>
    <li><a href="http://www.alistapart.com/" title="A List Apart">A List Apart</a></li>
  </ul>
</div>
{% endblock %}