<div class="bs-callout bs-callout-danger {{ _ERROR ?: 'hidden' }}">
  <h4>An error has occurred processing this form.</h4>
  <p>
    Please, complete the required fields (*) and verify that the entered data is
    correct and send this form again.
  </p>

  <h4>Please, review the following errors.</h4>
  <p>
    Please, review the errors highlighted below and resubmit this form to continue.
  </p>
  <p>
    Notice that required fields must not be left empty.
  </p>
</div>
