{% extends '@2016/base.twig' %}

{% block title %}403 - Prohibido - {{ app.name }}{% endblock %}

{% block content %}
<div class="container">
  <h1>403 - Prohibido.</h1>
  <h2>Sin permiso para acceder a este recurso.</h2>
  <p>
    Usted no está autorizado a acceder a
    <code><?php echo strip_tags($_SERVER['REQUEST_URI']); ?></code>
    en este sistema.
  </p>
  <p>
    Puede que haya seguido un enlace roto o la (<abbr title="Uniform Resource Locator">URL</abbr>)
    tenga algún error de tipeo. Si lo desea puede probar uno de los siguientes enlaces:
  </p>
  <ul>
    <li><a href="/">Pprincipal</a></li>
    <li><a href="/sitemap/">Mapa del sitio</a></li>
    <li><a href="/contact/">Contacto</a></li>
  </ul>
  <p>
    Si Usted ha seguido un enlace de una página externa, por favor, contáctese
    con el autor de dicha página, de otra manera, por favor,
    <a href="{{ app.domain }}/contact/">comuníquese con nosotros</a>
    y veremos que ha ido mal.
  </p>
  <p>
    Muchas gracias.
  </p>
</div>
{% endblock %}
