{% extends '@2016/base.twig' %}

{% block title %}503 - Servicio temporalmente no disponible - {{ app.name }}{% endblock %}

{% block content %}
<div class="container">
  <h1>503 - Servicio temporalmente no disponible.</h1>
  <p>
    El sistema se encuentra temporalmente imposibilitado para atender su
    pedido debido a mantenimiento o problemas de capacidad.
  </p>
  <p>
    Por favor, inténtelo nuevamente en unos segundos.
  </p>
  <p>
    Le pedimos disculpas por cualquier inconveniente que ésto le pueda
    causar.
  </p>
  <p>
    Muchas gracias.
  </p>
</div>
{% endblock %}
