{% extends '@2016/base.twig' %}

{% block title %}Curriculum Vitae de Juan Francisco Giordana.{% endblock %}

{% block head %}
  {{ parent() }}
  <meta name="description" content="Curriculum Vitae de Juan Francisco Giordana." />
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Curriculum Vitae</h1>

      <div class="row">
        <div class="col-sm-6">
          <p>Última actualización: Septiembre de 2016.</p>
          <p>
            <a href="https://docs.google.com/document/d/1rDkMYxj-nVWY6i4FnKLzWY_b77ZJDtIh0468smJziDU/edit?usp=sharing">Disponible también Google Docs</a>
          </p>
        </div>
        <div class="col-sm-6">
          <ul class="list-inline">
            <li><a href="/cv/" title="Español"><img alt="Español" height="11" src="/img/flags/es.png" width="16" /></a></li>
            <li><a href="/resume/" title="English"><img alt="English" height="11" src="/img/flags/gb.png" width="16" /></a></li>
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <h2>Información personal:</h2>
          <ul>
            <li><strong>Nombre:</strong> Juan Francisco</li>
            <li><strong>Apellido:</strong> Giordana</li>
            <li><strong>Nacionalidad:</strong> Argentino</li>
            <li><strong>Estado civil:</strong> Soltero</li>
            <li><strong>Edad:</strong> {{ age }} años</li>
            <li><strong>E-mail:</strong> <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#106;&#117;&#097;&#110;&#103;&#105;&#111;&#114;&#100;&#097;&#110;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">&#106;&#117;&#097;&#110;&#103;&#105;&#111;&#114;&#100;&#097;&#110;&#097;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;</a></li>
            <li><strong>Móvil:</strong> +54 (342) 5211 004</li>
          </ul>
        </div>

        <div class="col-sm-6">
          <h2>Algunos de mis proyectos:</h2>
          <ul>
            <li>
              <a href="http://www.giordana.com.ar/">
                www.giordana.com.ar
              </a>
            </li>
            <li>
              <a href="http://www.bandmix.com/" title="Musicians wanted classifieds at www.bandmix.com">
                www.bandmix.com
              </a>
            </li>
            <li>
              <a href="http://www.reelmix.com/" title="Filmmakers wanted classifieds at www.reelmix.com">
                www.reelmix.com
              </a>
            </li>
            <li>
              <a href="http://www.vialfe.com.ar/" title="VialFe, una empresa dedicada a la comercialización y el alquiler de maquinaria vial e industrial">
                www.vialfe.com.ar
              </a>
            </li>
            <li>
              <a href="http://www.paracaidismosantafe.com.ar/" title="Paracaidismo Santa Fe">
                www.paracaidismosantafe.com.ar
              </a>
            </li>
          </ul>
        </div>
      </div>

      <section>
        <h2>Ocupación:</h2>

        <h3>Desarrollo Web:</h3>
        <p>
          Desde comienzos del año 2004 me encuentro realizando desarrollos de <strong>Aplicaciones Web</strong>.
        </p>

        <h4>Programación:</h4>
        <p>
          Utilizo principalmente <a href="http://www.php.net/">PHP</a> como lenguaje de <em>programación</em>, combinado éste con la
          funcionalidad que provee el motor de <em>bases de datos</em> <a href="http://www.mysql.com/">MySQL</a> y con un riguroso
          control en lo que respecta a <em>seguridad</em> de la información, eficiencia y eficacia.
        </p>

        <p>Trabajos destacados:</p>
        <dl>
          <dt>Content Management Systems (<abbr title="Content Management Systems">CMS</abbr>):</dt>
          <dd>Portales de noticias (weblogs), clasificados online, galerías fotográficas, etc.</dd>
          <dt>E-commerce:</dt>
          <dd>
            He desarrollado aplicaciones a medida que incluyen sistemas de
            <em>débito automático</em>,
            <em>almacenamiento cifrado de tarjetas de crédito</em>,
            sistemas de <em>descuentos por promociones, cupones o tickets</em>, etc.
          </dd>
          <dt>Mensajería:</dt>
          <dd>Sistemas de mensajería interna.</dd>
          <dd>Envío de <em>correo electrónico masivo</em> (exceptuando SPAM).</dd>
          <dd>Integración de foros de discusión a sistemas de login existentes.</dd>
          <dt>Búsquedas:</dt>
          <dd>Sistemas de búsqueda simples y avanzados (por ejemplo: búsquedas por proximidad geográfica).</dd>
          <dt><abbr title="Really Simple Syndication">RSS</abbr></dt>
          <dd>Sistemas de generación de contenidos.</dd>
          <dt><abbr lang="en" title="Application programming interface">API:</abbr></dt>
          <dd>Creación de <abbr lang="en" title="Application programming interfaces">APIs</abbr> para la interconectar datos entre diferentes aplicaciones.</dd>
        </dl>

        <p>Tecnologías que he utilizado o implementado:</p>
        <ul>
          <li><a href="http://www.authorize.net/">Authorize.Net</a>: pasarela de pagos online con tarjetas de crédito.</li>
          <li><a href="http://aws.amazon.com/s3" title="Amazon Simple Storage Service">Amazon S3</a>: servicio de almacenamiento remoto de alta disponibilidad.</li>
          <li><a href="http://www.gnupg.org/">GnuPG</a>: cifrado de información.</li>
          <li><a href="http://www.google.com/webmasters/sitemaps/login">Google Sitemaps</a>: herramienta de análisis y diagnóstico de problemas de sitios web.</li>
          <li><a href="http://httpd.apache.org/docs/2.0/mod/mod_rewrite.html">Apache mod_rewrite</a>: generación de URL amigables.</li>
          <li><a href="http://www.maxmind.com/app/geoip_country">MaxMind GeoIP/GeoLite Country</a>: determina el país de origen de un visitante en un sitio web en base a su direccipon IP.</li>
          <li><a href="http://www.swiftmailer.org/">Swift</a>: programa de envío de correo electrónico realizado en PHP.</li>
          <li><a href="http://twig.sensiolabs.org/">Twig</a>: a flexible, fast, and secure template engine for PHP.</li>
        </ul>

        <h4>Optimización en buscadores (<abbr lang="en" title="Search Engine Optimization">SEO</abbr>):</h4>
        <p>
          Mi experiencia en <em>optimización en buscadores</em> se aplica desde la utilización de <em>expresiones regulares</em> para la generación de
          <abbr lang="en" title="Uniform Resource Locator">URLs</abbr> amigables hasta la implementación y re-estructuración completa del código HTML
          de los documentos que conforman un sitio web generando de esta manera mejor posicionamiento en los motores de búsqueda más populares (
          <a href="http://www.google.com/">Google</a>,
          <a href="http://www.yahoo.com/">Yahoo!</a>,
          <a href="http://www.bing.com/">Bing</a>,
          etc.).
        </p>

        <h4>CSS &amp; Maquetación Web:</h4>
        <p>
          Los últimos trabajos que he realizado están basados en las especificaciones
          <a href="http://www.w3.org/MarkUp/">XHTML</a> y
          <a href="http://www.w3.org/Style/CSS/">CSS</a> publicados por la
          <a href="http://www.w3.org/"><abbr title="World Wide Web Consortium">W3C</abbr></a>.
        </p>
        <p>
          La naturaleza de mi profesión está estrictamente relacionada con el area de diseño y comunicación visual
          <a href="#note-1"><sup>1</sup></a> por lo que poseo concimientos avanzados de las especificaciones citadas
          anteriormente que me permiten realizar el maquetado de sitios web acordes a los estándares actuales, generando
          de esta manera documentos con un muy alto porcentaje en lo que respecta a accesibilidad, usabilidad y navegabilidad.
        </p>
        <p>
          Además poseo conocimientos para desarrollar interfaces web utilizando JavaScript y la librería JavaScript <a href="http://jquery.com/">JQuery</a>.
        </p>

        <h3>Sysadmin (administrador de sistemas):</h3>
        <ul>
          <li>
            Instalación, configuración y mantenimiento de sistemas <a href="http://www.linux.org/">Linux</a> y *nix en general.
          </li>
          <li>
            Excelente desempeño en todo tipo de distribuciones Linux:
            <a href="http://www.gentoo.org/">Gentoo</a> /
            <a href="http://www.gentoo.org/">Funtoo</a>,
            <a href="http://www.debian.org/">Debian</a> /
            <a href="http://www.ubuntu.com/">Ubuntu</a>,
            <a href="http://www.redhat.com/">Red Hat</a> /
            <a href="http://fedora.redhat.com/">Fedora</a> /
            <a href="http://www.centos.org/">CentOS</a>,
            <a href="http://www.linuxfromscratch.org/">LFS</a>.
          </li>
          <li>
            Instalación, configuración, mantenimiento y optimización de servidores:
            <ul>
              <li>
                Web:
                <a href="http://www.nginx.net/">Nginx</a>,
                <a href="http://httpd.apache.org/">Apache</a>.
              </li>
              <li>
                Databases:
                <a href="http://www.mysql.com/">MySQL</a>.
              </li>
              <li>
                <a href="http://www.php.net/">PHP</a>:
                as an Apache module and FastCGI.
              </li>
              <li>
                Files:
                <a href="http://www.samba.org/">SAMBA</a>,
                <a href="http://nfs.sourceforge.net/">NFS</a>.
              </li>
              <li>
                <abbr title="Domain Name System">DNS</abbr>:
                <a href="http://cr.yp.to/djbdns.html">djbdns</a>.
              </li>
              <li>
                SSH:
                <a href="http://www.openssh.com/">OpenSSH</a>.
              </li>
              <li>
                E-mail:
                <a href="http://www.qmail.org/">Qmail</a>,
                <a href="http://www.postfix.org/">Postfix</a>,
                <a href="http://www.exim.org/">Exim</a>.
              </li>
            </ul>
          </li>
          <li>
            Compilación de aplicaciones a partir de su código fuente acorde a necesidades específicas.
          </li>
          <li>
            Desarrollo de sistemas de backup locales y remotos de alta disponibilidad (backups por hora, por día, etc).
          </li>
          <li>
            Automatizacion de procesos bajo sistemas *nix.
          </li>
        </ul>

        <h3>Otros:</h3>
        <ul>
          <li>Servicio técnico tanto en el area de hardware como software.</li>
        </ul>
      </section>

      <section>
        <h2>Educación:</h2>
        <ul>
          <li>Cursado completo de los niveles primario y secundario.</li>
          <li>Armado, reparación y mantenimiento de PC: título otorgado por la <a href="http://cisco.netacad.net">Academia CISCO</a>. </li>
          <li>Cableado y estructurado de redes LAN: cursado del primer semestre de CCNA en la <a href="http://cisco.netacad.net">Academia CISCO</a>.</li>
          <li>Muy buen nivel de Inglés escrito.</li>
        </ul>
      </section>

      <section>
        <h2>Trayectoria:</h2>
        <dl>
          <dt>2004 - 2005:</dt>
          <dd>Di mis primeros pasos como desarrollador web en <a href="http://www.nkstudios.net/">NKStudios S.R.L.</a></dd>
          <dt>2005 - 2006:</dt>
          <dd>Trabajé en modalidad <em>freelance</em> como desarrollador web para diferentes empresas locales (<a href="http://www.nkstudios.net/">NKStudios</a>, <a href="http://www.netsud.com/">NetSud</a>) y de forma independiente.</dd>
          <dt>2006 en adelante:</dt>
          <dd>Trabajo para <a href="http://www.echomedia.co/aboutus/">Echo Media, Inc.</a> como desarrollador web y encargado de mantenimiento de <a href="http://www.bandmix.com/">BandMix</a>.</dd>
        </dl>
      </section>

      <section>
        <h2>Notas:</h2>
        <dl>
          <dt id="note-1">1</dt>
          <dd>No soy diseñador gráfico, solo aficionado en este area.</dd>
        </dl>
      </section>

    </div>
  </div>
</div>
{% endblock %}
