<div class="bs-callout bs-callout-danger">
  <h4>Please, review the following errors.</h4>
  <p>
    Please, review the errors highlighted below and resubmit this form to continue.
  </p>
  <p>
    Notice that required fields must not be left empty.
  </p>
</div>